/* 
    1 - Posicionamiento
    2 - Box model (Display)
    3 - Texto
    4 - Visuales
    5 - resto

    Sub organizar en ABCDario
*/


:root{
    --primary-color: hsl(214, 84%, 56%);
    --secondary-color: hsl(180, 83%, 51%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
}

/* HEADER */
iframe{
    width: 100%;
    max-height: 60.3906px;
}

.priColor{
    background-color: var(--primary-color);
}
.secColor{
    background-color: var(--secondary-color);
}

header{
    display: flex;
    align-items: center;
}

nav{
    width: 100%;
}

.nav-ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 25px;
}

.nav-li:first-child{
    float: left;
}
.nav-li{
    align-items: center;
}
.nav-li:last-child{
    float: right;
}

.nav-li-options{
    display: none;
}

nav a{
    color: var(--text-color);
    text-decoration: none;
}


/* MAIN */

.main_title{
    color: red;
}

.main_img{
    width: 100%;
}
/* FOOTER */
.footer_ul{
    width: 100%;
}

footer{
    display: flex;
    width: 100%;
    margin: 0;
    height: 200px;
}

footer ul{
    display: inline-block;
    list-style: none;
    margin: 15px 0 0 0;
}

footer ul li{
    text-align: center;
}

.li-head{
    text-decoration: underline;
}

/* FORM.HTML */
h2{
    text-align: center;
    font-size: 32px;
    /* background-image: url(/images/mh-trainer-2-1533576998.png) */
}

form {
    /* Centrar el formulario en la página */
    margin: 0 ;
    width: 45vw;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: left;
}

form ul li{
    list-style: none;
}

input,
textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 85%;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
}

input:focus,textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}

textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
    
    /* Proporcionar espacio para escribir texto */
    min-height: 5em;
    max-height: 15em;
    min-width: 85%;
    max-width: 85%;
}

.button{
    position: absolute;
    top: 20pc
}

.section_form{
    margin: 15px 80px;
    display: flex;
    justify-content: space-between;
}

.container_img-form{
    margin: 0;
    width: 45vw;
    border: 1px solid var(--secondary-color) ;
    border-radius: 1em;
}

.img-pullUp{
    min-width: 100%;
    min-height: 100%;
    border-radius: 1em;
}

.prueba-img{
    
    max-width: 1500px;
}

/* RESPONSIVE */

@media(max-width:950px) {
    nav{
        text-align: center;
    }
    nav ul li{
        margin: 0 24px;
        float: left;
    }
    .main_img{
        width: 100%;
    }
    
}

@media(max-width: 375px) {
    /* ESTO HAY QUE CAMBIARLO: ESCONDER LOS LI */
    nav ul li{
        margin: 0 8px;
        float: left;
    }

    .main_title{
        position: absolute;
        /* top: 30px; */
        bottom: 50%;
        left: 5%;
    }

    .nav-options{
        display: inline-block;
        margin: 16px;
    }

    .nav-li:nth-child(2){
        /* visibility: hidden; */
        display: none;
    }    
    .nav-li:nth-child(3){
        /* visibility: hidden; */
        display: none;
    }    
    .nav-li:nth-child(4){
        /* visibility: hidden; */
        display: none;
    }    

}

  